@import "tailwindcss";

/* Source Sans Pro */
@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-muli {
  font-family: "Muli", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}